# Environments & Secrets
.env
.env.local

# Python runtime & build artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
env/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Runtime uploads & logs
tmp/*
!tmp/.gitkeep
logs.json
*.log

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
tempCodeRunnerFile.py
